@model IEnumerable<FootballCalc.Models.Players>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <!-- Button to Open the Modal -->
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Add Player
        </button>
    </div>
    <!-- The Modal -->
    <div class="modal" id="myModal" style="color: gray;">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Player Information</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form asp-action="Index">
                        <div class="form-group">
                            <label for="name">Player Name:</label>
                            <input type="text" name="name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="salary">Player Salary:</label>
                            <input type="number" name="salary" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="team">Player Team:</label>
                            <input type="text" name="team" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="position">Player Position:</label>
                            <select name="position" class="form-control">
                                <option value="0">QB</option>
                                <option value="1">WR</option>
                                <option value="2">TE</option>
                                <option value="3">RB</option>
                                <option value="4">FLEX</option>
                                <option value="5">DSP</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add Player" class="btn btn-primary" />
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>
<table class="table" style="color: white;">
    <thead>
        <tr>
            <th>
                Player Name
            </th>
            <th>
                Player Position
            </th>
            <th>
                Player Team
            </th>
            <th>
                Player Salary
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerSalary)
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.PlayerID">Remove Player</a>
            </td>
        </tr>
}
    </tbody>
</table>


<form asp-action="CreateRosters" method="post">
    <div class="form-group">
        <label for="budget">Your Budget</label>
        <input type="number" name="budget" class="form-control" />
    </div>
    <div class="form-group">
        <label for="qb"># of QB's</label>
        <input type="number" name="qb" class="form-control" />
    </div>
    <div class="form-group">
        <label for="wr"># of WR's</label>
        <input type="number" name="wr" class="form-control" />
    </div>
    <div class="form-group">
        <label for="te"># of TE's</label>
        <input type="number" name="te" class="form-control" />
    </div>
    <div class="form-group">
        <label for="rb"># of RB's</label>
        <input type="number" name="rb" class="form-control" />
    </div>
    <div class="form-group">
        <label for="flex"># of Flex's</label>
        <input type="number" name="flex" class="form-control" />
    </div>
    <div class="form-group">
        <label for="dsp"># of DSP's</label>
        <input type="number" name="dsp" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create Rosters" />
    </div>
</form>