    @model IEnumerable<UserModel>

    @foreach (var p in Model)
    {
    <div>
        <h3>@p.First_Name</h3>
        <h3>@p.Last_Name</h3>
        <h3>@p.Username</h3>
        <h3>@p.Password</h3>
        <h3>@p.Email_Address</h3>
        <h3>@p.Date_Of_Birth</h3>

    </div>
    }
